.summary-card {
  background: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 6px 8px; /* Reduced padding - top/bottom: 6px, left/right: 8px */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  min-height: 20px; /* Reduced minimum height */
}

.summary-icon {
  font-size: 3rem; /* icon size */
  color: white;    /* teal color */
  margin-right: 50px; /* space between icon and text */
}

.summary-content {
  display: flex;
  flex-direction: column;
}

/* Custom background */
.bg-light-green {
  background-color: #34db71; /* Tailwind's green-100 */
   
}

.bg-light-yellow{
  background-color: rgb(229, 229, 65);
}

.bg-light-red{
  background-color: rgb(207, 84, 84);
}

.bg-normal{
  background-color: #2ebbaf;
}
.summary-text {
  font-size: 1.125rem;
  font-weight: 600;
}

.summary-number {
  font-size: 1.25rem;
  font-weight: bold;
}
